# Server Settings
PORT=5000
NODE_ENV=development

# Database Settings
# Replace with your actual local or hosted MongoDB URI
MONGO_URI=mongodb://127.0.0.1:27017/cart_engine

# Logging Settings
LOG_LEVEL=info
